[Desktop Entry]
Name=Gandiva
GenericName=Gandiva
Comment=Your personal AI companion
Categories=Utility;
Exec=com.github.watsonprojects.gandiva
Icon=com.github.watsonprojects.gandiva
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.watsonprojects.gandiva
Keywords=AI;Companion;Assistant;Chatbot;
